# ignore the raw data from scraping 
data/raw_team_stats.csv

# ignore cleaned csvs
data/clean_league_averages.csv
data/clean_team_stats.csv

# ignore figures 
figures/*.png

# ignore virtual environment
nba-env/